<div class='col-md-4 col-md-offset-4'>
  <%= bootstrap_form_for @card do |f| %>
    <%= f.text_field :name %>
    <%= f.text_field :year %>
    <%= f.text_field :image %>
    <%= f.submit %>
  <% end %>
</div>
